<div class="container">
    <div class="d-flex" >
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav" orientation="vertical" >
          <li ngbNavItem="{{unidad.id}}" *ngFor="let unidad of unidades">
              <a ngbNavLink> {{unidad.nombre}} <i class="btn ri-pencil-line color-iconos" style="font-size: 18px;" (click)="activarModal(unidad)"></i> </a> 
              <ng-template ngbNavContent>
                <p> {{unidad.descripcion}}  <i class="btn ri-pencil-line color-iconos" style="font-size: 18px;" (click)="activarModal(unidad)"></i></p>            
              </ng-template>
          </li>
        </ul>      
        <div [ngbNavOutlet]="nav" class="ml-4"></div>
      </div>      
</div>

