<div class="container">
    <div class="d-flex" >
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav" orientation="vertical" >
          <li ngbNavItem="{{unidad.id}}" *ngFor="let unidad of unidades">
            <div class=" justify-content-between">
              <a ngbNavLink  *ngIf="!textareaNombreUnidad"> {{unidad.nombre}} </a> <i *ngIf="!textareaNombreUnidad" class="btn ri-pencil-line" style="font-size: 18px;" (click)="activarModal(unidad)"></i>
              <ng-template ngbNavContent>
                <p *ngIf="!textareaDescripcionUnidad">{{unidad.descripcion}}  <i class="btn ri-pencil-line" style="font-size: 18px;" (click)="activarModal(unidad)"></i></p>            
              </ng-template>
            </div>
          </li>
        </ul>      
        <div [ngbNavOutlet]="nav" class="ml-4"></div>
      </div>      
</div>

