<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>Course Details</h2>
    <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat
      debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
  </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Cource Details Section ======= -->
<section id="course-details" class="course-details">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-8">
        <img src="{{datosCurso.imagen}}" class="img-fluid" alt=""> 
        
        <form (ngOnSubmit)="onUploadImg()" novalidate enctype="multipart/form-data" >
          <div class="custom-file mt-4">
            <input type="file" class="custom-file-input" id="imagen" (change)="onFileChange($event)" accept="image/png, image/jpeg, image/gif" #imgenInputFile>
            <label class="custom-file-label" for="imagen">Seleccionar Archivo</label>
          </div>
          <div *ngIf="imagen" class="mt-5">
            <h5>Vista Previa:</h5>
            <div>
                <img class="image-thumbnail" style="max-width: 100px" [src]="imagenMin">
            </div>
        </div>
          <div class="form-group d-flex justify-content-between">
            <a type="submit" class="btn get-started-btn " style="color: white;" > <fa-icon [icon]="faImages"></fa-icon> Subir </a>
          </div>
        </form>
        <h3 *ngIf="!textareaSubtitulo" class="color-iconos">
          {{datosCurso.subtitulo}}<i class="ri-pencil-line btn " style="font-size: 18px;" (click)="activarTextareaSubtitulo()"></i>
        </h3>
        <div *ngIf="textareaSubtitulo">
          <form #f="ngForm" class="w-100">
            <input class="form-control" [(ngModel)]="subtituloTaller" [ngModelOptions]="{standalone: true}">
          </form>
          <div class="btn get-started-btn flex-row-reverse" (click)="updateSubtitulo()"><i class="ri-check-line"></i></div>
          <div class="btn get-cancel-btn flex-row-reverse" (click)="activarTextareaSubtitulo()"><i class="ri-close-line"></i></div>
        </div>
        <p *ngIf="!textareaDescripcion">
          {{datosCurso.descripcion}}
        </p>
        <div class="w-100 " *ngIf="textareaDescripcion">
          <form novalidate #f="ngForm" class="w-100">
            <div class="form-group">
            <textarea class="form-control" placeholder="{{datosCurso.descripcion}}" [(ngModel)]="descripcionTaller" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
          </form>
          <div class="btn get-started-btn" (click)="updateDescripcion()"><i class="ri-check-line"></i></div>
          <div class="btn get-cancel-btn" (click)="activarTextareaDescripcion()"><i class="ri-close-line"></i></div>
        </div>
        <div class="d-flex flex-row-reverse color-iconos" *ngIf="!textareaDescripcion"><i class="btn p-2 ri-pencil-line color-iconos" style="font-size: 18px;" (click)="activarTextareaDescripcion()"></i></div>
      </div>
      <div class="col-lg-4">

        <div class="course-info d-flex justify-content-between align-items-center">
          <h5>Capacitador</h5>
          <p><a href="#">{{datosCurso.capacitador}}</a></p>
        </div>

        <div *ngIf="!textareaPrecio" class="course-info d-flex justify-content-between align-items-center">
          <h5>Precio</h5>
            <p class="color-iconos">${{datosCurso.precio}}<i class="btn ri-pencil-line" style="font-size: 18px;" (click)="activarTextareaPrecio()"></i></p>
        </div>
        <div *ngIf="textareaPrecio" class="course-info d-flex justify-content-between align-items-center">
          <h5>Precio</h5>
          <div >
            <form >
              <input type="number" class="form-control" [(ngModel)]="precioTaller" [ngModelOptions]="{standalone: true}">
            </form>
            <div class="btn get-started-btn" (click)="updatePrecio()"><i class="ri-check-line"></i></div>
            <div class="btn get-cancel-btn" (click)="activarTextareaPrecio()"><i class="ri-close-line"></i></div>
          </div>
        </div>
        <div *ngIf="!textareaCategoria" class="course-info d-flex justify-content-between align-items-center">
            <h5>Categoria</h5>        
            <p class="color-iconos">{{datosCurso.categoria}} <i class="ri-pencil-line btn" style="font-size: 18px;" (click)="activarTextareaCategoria()"></i></p>      
        </div>
        <div *ngIf="textareaCategoria" class="course-info d-flex justify-content-between align-items-center">
          <h5>Categoria</h5>
            <form>
              <input class="form-control" type="text" name="" id=""  [(ngModel)]="categoriaTaller" [ngModelOptions]="{standalone: true}">
              <div class="btn get-started-btn" (click)="updateCategoria()"><i class="ri-check-line"></i></div>
              <div class="btn get-cancel-btn" (click)="activarTextareaCategoria()"><i class="ri-close-line"></i></div>
            </form>
        </div>

        <div class=" d-flex justify-content-between align-items-center">
          <a (click)="irContenido()" style="color: white;" class="get-started-btn btn">Ir a contenidos</a>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Cource Details Section -->

<!-- ======= Cource Details Tabs Section ======= -->
<section id="cource-details-tabs" class="cource-details-tabs">
  <div class="container" data-aos="fade-up">

    <app-nav [unidades]="datosCurso.unidades"></app-nav>
    <div class="btn d-inline-flex p-2 color-iconos" style="font-size: 18px;">
      <p ><i class="ri-add-circle-line"></i> Añadir unidad</p>
    </div>
  </div>
</section><!-- End Cource Details Tabs Section -->
<!--Spinner-->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>