

<div class="separar13"></div>
<form class="border border-light p-5">

<div class="breadcrumbs3">
    <div class="container">
        <h2>Subiendo taller a la plataforma. Aguerde por favor.....</h2>
    </div>
</div><!-- End Breadcrumbs -->



<div class="input-group mb-4">
    <div class="input-group-prepend">
        <span class="input-group-text">Cargar</span>
    </div>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="fileInput" aria-describedby="fileInput">
        <label class="custom-file-label" for="fileInput">Archivo</label>
    </div>
</div>

<label for="textInput">Etiqueta del curso</label>
<input type="text" id="textInput" class="form-control mb-4">

<label for="textInput">Precio</label>
<input type="number" for="inputEmail" class="form-control validate" min="0" max="100000" required>

<label for="textInput">Titulo del taller></label>
<input type="text" id="textInput" class="form-control mb-4">

<label for="textarea">Breve descripcion</label>
<textarea id="textarea" class="form-control mb-4"></textarea>

<button class="btn btn-info btn-block" type="submit">Guardar</button>
</form>


<div class="separar2"></div>