<div class="row justify-content-center" style=" position: relative; bottom:-100px;">
    <div class="tamanno col-md-3">
        <div class="card bg-transparent border-0">
        <div class="card-body">
            <img src="assets/cursos.jpg" style="height: 200px; width: 200px; border-radius: 50%;" alt="">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/lista-cursos" class="btn color-boton">Capacitaciones</a>
        </div>
        </div>
    </div>
    <div class="tamanno col-md-3">
        <div class="card bg-transparent border-0">
        <div class="card-body ">
            <img src="assets/capacitaciones.jpg" style="height: 200px; width: 200px; border-radius: 50%;" alt="">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/lista-cursos" class="btn color-boton" >Cursos</a>
        </div>
        </div>
    </div>
</div>