.color-boton{
  background-color: #308446;   
  color: white;
}
.color-boton:hover{
background-color: #1F6116 !important;
}

.tamanno{
    height: 300px; width: 400px;
}


.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 200ms;
    --animate-delay: 0.4s;
  }
  .zoom{
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
  }
  .zoom:hover{
    /* tranformamos el elemento al pasar el mouse por encima al doble de
        su tamaño con scale(2). */
    transform : scale(1.1);
    -moz-transform : scale(1.1);      /* Firefox */
    -webkit-transform : scale(1.1);   /* Chrome - Safari */
    -o-transform : scale(1.1);        /* Opera */
  }
  .separar-con{
    padding: 100px !important;
  }

  .sombra{
    box-shadow:   1px 1px 3px #666 !important  
  }