<div class="row" style="position:relative; bottom:-200px; margin:0 40px;">
    <div class="col-sm-6">
        <div class="card bg-transparent border-0">
        <div class="card-body">
            <img src="assets/cursos.jpg" style="height: 200px; width: 200px; border-radius: 50%;" alt="">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/lista-cursos" class="btn btn-primary">Capacitaciones</a>
        </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-transparent border-0">
        <div class="card-body ">
            <img src="assets/capacitaciones.jpg" style="height: 200px; width: 200px; border-radius: 50%;" alt="">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/lista-cursos" class="btn btn-primary">Cursos</a>
        </div>
        </div>
    </div>
</div>