<main id="main">
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container-lg">
            <div class="section-title" data-aos="fade-up">
                <h4>Some <strong>Features</strong> we do provide</h4>
            </div>
            <div class=" d-flex bd-highlight ">
                <div class="p-2 flex-grow-1 bd-highlight" data-aos="fade-left" data-aos-delay="100">
                    <div class="tab-content align-content-end">
                        <div class="card-body">
                            <div class="tab-pane">
                                <figure *ngIf="video">
                                    <youtube-player [videoId]="videoId" [width]="850" [height]="480"
                                        suggestedQuality="highres"></youtube-player>
                                </figure>
                            </div>
                            <div class="tab-pane" *ngIf="!video">
                                <iframe width="850" height="600" [src]='urlSafe' frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bd-highlight" data-aos="fade-right">
                    <accordion [isAnimated]="true" *ngFor="let unidad of unidades, index as i">
                        <accordion-group [isOpen]="true" [heading]="unidad.nombre">
                            <a *ngFor="let contUnidad of unidades[this.i].contenidos"
                                (click)="cambiarVistaDocumento(contUnidad.documento)" class="list-group-item"><strong>
                                    {{contUnidad.nombre}} </strong></a>
                            <div class="btn d-inline-flex p-2 color-iconos" style="font-size: 18px;"
                                (click)="onCreate(modalCrearUnidad, unidades[this.i].id)">
                                <p><i class="ri-add-circle-line"></i> Añadir contenido</p>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->
</main><!-- End #main -->

<ng-template #modalCrearUnidad>
    <div class="modal-body text-center">
        <label for="Titulo"> Titulo del contenido</label>
        <input class="w-75" type="text" name="Titulo" id="" placeholder="Titulo del contenido" [(ngModel)]="nombre">
        <label for="Descripcion"> Descripcion del contenido</label>
        <textarea class="w-75" name="Descripcion" id="" cols="30" rows="10" [(ngModel)]="descripcion"></textarea>
        <label for="Enlace"> Enlace del contenido</label>
        <input class="w-75" type="text" name="Enlace" placeholder="Enlace de video de youtube o pdf"
            [(ngModel)]="documento">
        <button type="button " class="btn btn-success m-1" (click)="crearUnidad()">Crear</button>
        <button type="button" class="btn btn-danger m-1" (click)="hide()">Cancelar</button>
    </div>
</ng-template>