
  <a (click)="irCurso(curso.id)" >
  <div class="course-item zoom">
    <img src="{{curso.imagen}}" class="img-fluid" alt="...">
    <div class="course-content">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4> {{curso.categoria}} </h4>
        <p class="price">$ {{curso.precio}}  </p>
      </div>

      <h3>{{curso.nombre}} </h3>
      <p> {{curso.descripcion}} </p>
      <div class="trainer d-flex justify-content-between align-items-center">
        <div class="trainer-profile d-flex align-items-center">
          <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
          <span>{{curso.capacitador}}</span>
        </div>
      
      </div>
    </div>
  </div>
 <!-- End Course Item-->