
  <div class="course-item zoom mb-3">
    <div *ngIf="isAdmin || isCapacitador" class="course-content position-absolute " style="z-index: 10" placement="top-right" ngbDropdown #myDrop="ngbDropdown">
      <a class="btn  text-white bg-transparent "  id="dropdownManual"  (click)="myDrop.open()"> <fa-icon [icon]="faEllipsisH"></fa-icon> </a>
      <div ngbDropdownMenu aria-labelledby="dropdownManual" style="z-index: 10" >
        <a class="btn" (click)="gotoModificarTaller(curso.id)" ngbDropdownItem>Modificar taller</a>
        <div *ngIf="isAdmin" class="d-flex justify-content-between">
          <div disabled ngbDropdownItem>Habilitar taller</div><mat-slide-toggle [checked]="habilitado" (change)="change($event)"></mat-slide-toggle>
        </div>
        <a *ngIf="isAdmin" class="btn text-danger" (click)="eliminarTaller(modalConfirmacion, modalHabilitado)" ngbDropdownItem>Eliminar talle>r</a>
      </div>
    </div>

    <a (click)="irCurso(curso.id)">
    <img  [ngClass]="{'oscurecer': !curso.habilitado,'noOscurecer':curso.habilitado}" src="{{curso.imagen}}" class="img-fluid" alt="...">
    <div class="course-content">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 [ngClass]="{'oscurecer': !curso.habilitado}" > {{curso.categoria}} </h4>
        <p class="price">$ {{curso.precio}}  </p>
      </div>
      <h3  >{{curso.titulo}} </h3>
      <p> {{ (curso.descripcion.length > 120)? (curso.descripcion | slice:0:120)+'...':(curso.descripcion)}} </p>
      <div class="trainer d-flex justify-content-between align-items-center">
        <div class="trainer-profile d-flex align-items-center">
          <img [ngClass]="{'oscurecer': !curso.habilitado}"  src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
          <span>{{curso.capacitador}}</span>
        </div>
      
      </div>
    </div>
  </a>
  </div>
 <!-- End Course Item-->

 <ng-template #modalConfirmacion>
  <div class="modal-body text-center">
    <h3>Esta seguro que desea eliminar de forma permanente éste curso</h3>
      <button type="button " class="btn btn-success m-1" data-toggle="modal" data-target="#loginModal" (click)="delete(curso.id)">Aceptar</button>
      <button type="button" class="btn btn-danger m-1" (click)="hide()" >Cancelar</button>
  </div>
</ng-template>
<ng-template #modalHabilitado>
  <div class="modal-body text-center">
    <h3>Debe deshabilitar el taller para poder eliminarlo</h3>
      <button type="button " class="btn btn-success m-1" data-toggle="modal" data-target="#loginModal" (click)="habilitarTaller(curso.id)">Deshabilitar</button>
      <button type="button" class="btn btn-danger m-1" (click)="hide()" >Cerrar</button>
  </div>
</ng-template>
<ng-template #modalConfirmacionHabilitar>
  <div class="modal-body text-center">
    <h3>¿Desea {{estado}} el taller?</h3>
      <a type="button " class="btn btn-success m-1" data-toggle="modal" data-target="#loginModal" (click)="habilitarTaller(curso.id)">Aceptar</a>
      <a type="button" class="btn btn-danger m-1" (click)="deshabilitarTaller($event)" >Cancelar</a>
  </div>
</ng-template>