.separar4{
    margin-top: 70px !important;
  }
.searchbar{
margin-bottom: auto;
margin-top: auto;
height: 60px;
background-color: #353b48;
border-radius: 30px;
padding: 10px;
}

.search_input{
color: white;
border: 0;
outline: 0;
background: none;
width: 0;
caret-color:transparent;
line-height: 40px;
transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
padding: 0 10px;
width: 450px;
caret-color:red;
transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
background: white;
color: #e74c3c;
}

.search_icon{
height: 40px;
width: 40px;
float: right;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
color:white;
text-decoration:none;
}
.color-fondo{
  background:#73b98cb0;
}

.margenes{
  margin: 60px 80px 80px 80px;
}
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #D99058;
  border-radius: 30px;
  padding: 10px;
  }
  
  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }
  
  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:#308446;
  transition: width 0.4s linear;
  }
  
  .searchbar:hover > .search_icon{
  background: white;
  color: #308446;
  }
  
  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }


