<main id="main" data-aos="fade-in">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Talleres</h2>
      </div>
    </div><!-- End Breadcrumbs -->
  
  
  
  <div class="container h-100 mt-5">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <input class="search_input" type="text" name="filter" placeholder="Buscar curso..." [(ngModel)]="filter">
        <a class="search_icon"><fa-icon [icon]="faSearch" style="color: white;"></fa-icon></a>
      </div>
    </div>
  </div>
    
  <div class="breadcrumbs2" *ngIf="isAdmin">
    <div class="container">
      <a href="creador-curso" class="get-started-btn3" >Crear Nuevo Taller</a>
    </div>
  </div>
  <div *ngIf="isAdmin || isCapacitador">
    <div class="breadcrumbs3">
      <div class="container">
        <h2>Talleres inhabilitados.</h2>
      </div>
    </div>
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">
      <ngx-spinner bdColor= "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-multiple"><p style="color: white" > Cargando Talleres... </p></ngx-spinner>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <app-card-curso class="col-lg-4 col-md-6 d-flex align-items-stretch "  
                            *ngFor="let cursoInhabilitado of cursosInhabilitados | filterCursos:filter | paginate: {itemsPerPage :6, currentPage : p}" 
                            [curso]="cursoInhabilitado"
                            style="z-index: auto;">                            
            </app-card-curso>
        </div>
      </div>
    </section><!-- End Courses Section -->
    <!-- Pagination -->
    <div style="clear: both; text-align: center;">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>


  <div>
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">
      <ngx-spinner bdColor= "rgba(0, 0, 0, 0.2)" size = "medium" color = "#fff" type = "ball-clip-rotate-multiple"><p style="color: white" > Cargando Talleres... </p></ngx-spinner>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <app-card-curso class="col-lg-4 col-md-6 d-flex align-items-stretch"  
                            *ngFor="let cursoHabilitado of cursosHabilitados | filterCursos:filter | paginate: {itemsPerPage :6, currentPage : p}" 
                            [curso]="cursoHabilitado"
                            style="z-index: auto;">
            </app-card-curso>
        </div>
      </div>
    </section><!-- End Courses Section -->
    <!-- Pagination -->
    <div style="clear: both; text-align: center;">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  
  
  
    <!--Cartas-->
  </main>