<div class="wrapper" style="background-color: #2e8b57;">
    <div class="inner">
        <div class="image-holder">
            <img src="assets/img/about.jpg" alt="">
        </div>
        <form [formGroup]="userForm">
            <h3>Iniciar Sesion</h3>
            <div class="form-wrapper">
                <input type="text" formControlName="email" placeholder="Email" class="form-control" [(ngModel)]="emailUsuario">
                <i class="zmdi zmdi-email"></i>
                <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div class="container-error-mesage" *ngIf="email.errors.required">
                      Este campo es obligatorio
                    </div>
                </div>
            </div>
            <div class="form-wrapper">
                <input type="password" formControlName="password" placeholder="Contraseña" class="form-control" [(ngModel)]="passUsuario">
                <i class="zmdi zmdi-lock"></i>
                <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div class="container-error-mesage" *ngIf="password.errors.required">
                      Este campo es obligatorio
                    </div>
                </div>
            </div>
            <div class="separar8"></div>
            <a (click)="onLogin()" class="get-started-btn" >Iniciar Sesion</a>
        </form>
    </div>
</div>