
.alert-danger{
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 5px;
  }
  .container-error-mesage{
    padding: 3px;
  }
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 50%;
    max-height: 50%;
    padding: 20px 40px;
  }