<div class="wrapper" style="background-image: url('assets/img/about.jpg');">

        <div class="container-sm rounded d-flex justify-content-center w-25"  style="filter: drop-shadow(10px 10px 10px rgb(46, 46, 46));background-color:  rgb(255, 255, 255, 0.3) ;backdrop-filter: blur(10px);-webkit-backdrop-filter: blur(10px);">


                <form [formGroup]="userForm">
                    <h2 class="mt-3 mb-3 text-dark">Iniciar Sesion</h2>
                    <div class="form-wrapper">
                    <input type="text" formControlName="email" placeholder="  Email" class="form-control w-100" [(ngModel)]="emailUsuario">
                    <i class="zmdi zmdi-email"></i>

                </div>
                <div class="form-wrapper">
                    <input type="password" formControlName="password" placeholder="  Contraseña" class="form-control w-100" [(ngModel)]="passUsuario">
                    <i class="zmdi zmdi-lock"></i>

                </div>
                <div class="separar8"></div>
                <a (click)="onLogin()" class="get-started-btn btn" style="color:white">Iniciar Sesion</a>
            </form>      

    </div>
</div>