<div class="wrapper" style="background-color: #2e8b57;">
  <div class="inner">
    <div class="image-holder">
      <img src="assets/img/course-3.jpg" alt="">
    </div>
    <form action="">
      <h3>Editar Perfil</h3>
      <div class="form-group">
        <input type="text" placeholder="Nombre" class="form-control" >
        <input type="text" placeholder="Apellido" class="form-control">
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="Correo electronico actual" class="form-control">
        <i class="zmdi zmdi-email"></i>
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="Correo electronico nuevo" class="form-control">
        <i class="zmdi zmdi-email"></i>
      </div>
      <div class="form-wrapper">
        <input type="password" placeholder="Contraseña Actual" class="form-control">
        <i class="zmdi zmdi-lock"></i>
      </div>
      <div class="form-wrapper">
        <input type="password" placeholder="Nueva Contraseña" class="form-control">
        <i class="zmdi zmdi-lock"></i>
      </div>
      <div class="separar8"></div>
      <a href="cursos.html" class="get-started-btn">Guardar</a>
    </form>
  </div>
</div>