<footer id="footer">
  <hr style="border-color:#d99058;">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-12 footer-contact">
          <h4>Hogar Presente</h4>
          <p>
            Hogar Presente Talleres <br>
            Av. Rioja 384 Sur<br>
            San Juan 5400 <br><br>
            <strong>Telefono:</strong> 2646712002<br>
            <strong>Email:</strong> hogarpresente@gmail.com<br>
          </p>
        </div>

        <div class="col-lg-4 col-md-12 footer-links">
          <h4>Links útiles</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/home">Inicio</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://hogarpresente.wixsite.com/consultora">Nosotros</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/lista-cursos">Talleres</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terminos del servicio</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Politicas de privacidad</a></li>
          </ul>
        </div>


        <div class="col-lg-4 col-md-12 footer-contact">
          <a class="" href="index.html"><img src="assets/img/logo.png" style="height: 200px; width: 200px;" alt="" /></a>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright <strong><span>Hogar Presente</span></strong>. Todos los derechos reservados
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://www.facebook.com/ConsultoraHogarPresenteSJ" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/hogarpresente/?hl=es-la" class="instagram"><i class="bx bxl-instagram"></i></a>


    </div>
  </div>
</footer><!-- End Footer -->

<a (click)="goToTop()" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
<div id="preloader"></div>
