 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h2 id="bienvenido2">BIENVENIDOS A HOGAR PRESENTE</h2>
    <h2>Aprendizajes y herramientas para la vida en el hogar y la familia</h2>
    <a href="cursos.html" class="btn-get-started">Get Started</a>
  </div>
</section><!-- End Hero -->
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2 >Aprendé con nosotros</h2>
      <p>Puedes potenciar el bienestar de tu familia o utilizar estas herramientas para encontrar una mejor oportunidad laboral. </p>
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Events Section ======= -->
  <section id="events" class="events">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/events-1.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title "><a href="capacitaciones.html" class="aumentar-tamaño-letra">Capacitaciones</a></h5>      
              <p class="card-text aumentar-tamaño-letra">Brindamos herramientas para que aprendas a dominar todos los escenarios del hogar y la familia (higiene, orden, limpieza, seguridad, desarrollo del infante, actividades lúdicas, alimentación saludable, etc). Tendrás más experiencia y por tanto mejores oportunidades laborales. Ofrecemos capacitaciones que te ayudarán a poner en valor el trabajo de hogar y familia</p>
              <div style="margin-top: 20px;">
                <a href="capacitaciones" class="get-started-btn2" style="margin-top: 20px;">Ir a capacitaciones</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/events-2.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="cursos.html" class="aumentar-tamaño-letra">Talleres</a></h5>
              <p class="card-text aumentar-tamaño-letra">Trabajos grupales con modalidad online o presencial,  en donde podrás compartir tus experiencias familiares con pares, complementando tus saberes como padre/madre a partir herramientas lúdicas y conscientes de profesionales especializados en la crianza respetuosa con una mirada integral hacia el bienestar familiar</p>
              <div style="margin-top: 20px;">
                <a href="lista-cursos" class="get-started-btn2" >Ir a talleres</a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Events Section -->

</main><!-- End #main -->

<hr class="featurette-divider">
<!-- ======= Features Section ======= -->
<section class="features">
  <div class="container">

    <div class="section-title">
      <h5> Somos una consultora ubicada en San Juan, atendemos todas las inquietudes que las familias necesitan resolver para el funcionamiento diario del hogar. 
      </h5>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-md-5">
        <img src="assets/img/features-1.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-4">
        <h3 style="font-size: 2em; padding: 5px;">Ofrecemos tres tipos de servicio:</h3>
        <p class="font-italic aumentar-tamaño-letra">
          Nos enfocamos en mejorar la calidad de vida de la familia, ordenando y poniendo conciencia en el funcionamiento del hogar.
        </p> <br>
        <ul>
          <li class="aumentar-tamaño-letra"><i class='bx bx-check ' style='color:#d99058' ></i>Selección de Personal para el hogar (niñeras, cuidadores, asistentes terapéuticos, domésticas, maestras, jardineros, cocineras,etc.
          </li>
          <li class="aumentar-tamaño-letra"><i class='bx bx-check' style='color:#d99058' ></i>Capacitaciones para niñeras o cuidadoras y talleres para padres y madres.</li>
          <li class="aumentar-tamaño-letra"><i class='bx bx-check ' style='color:#d99058' ></i>Consultas particulares a profesionales especializados en crianza.
          </li>
        </ul>
      </div>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-md-5 order-1 order-md-2">
        <img src="assets/img/features-2.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1">
        <h3>Corporis temporibus maiores provident</h3>
        <p class="font-italic">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
        <p>
          Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-md-5">
        <img src="assets/img/features-3.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5">
        <h3>Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas</h3>
        <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
        <ul>
          <li><i class='bx bx-check' style='color:#d99058' ></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
          <li><i class='bx bx-check' style='color:#d99058' ></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
          <li><i class='bx bx-check' style='color:#d99058' ></i>Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
        </ul>
      </div>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-md-5 order-1 order-md-2">
        <img src="/assets/img/features-4.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1">
        <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
        <p class="font-italic">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
        <p>
          Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>

  </div>
</section><!-- End Features Section -->


