
  
  <div class="separar3"></div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active altura">
        <img class="d-block w-100" src="banner.png" alt="First slide">
      </div>
    </div>
  </div>

  <div class="separar2"></div>



  <div class="row">
    <div class="col-sm-6">
      <div class="">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="card-body">
          <a href="insc-pagar.html" class="btn btn-primary">Continuar</a>
        </div>
      </div>
    </div>
  </div>


  <div class="separar2"></div>

<div class="container">
<div class="row">
  <div class="col-md-4">
    <h4>
      ¿Qué voy a aprender?
    </h4>
    <p>
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
    </p>
  </div>
  <div class="col-md-4">
    <h4>
      ¿Por qué hacerlo?
    </h4>
    <p>
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
    </p>
  </div>
  <div class="col-md-4">
    <h4>
      ¿Cuanto tiempo me llevara?
    </h4>
    <p>
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
    </p>
  </div>
</div>
</div>

<div class="separar3"></div>

<h4>
Nivel 1
</h4>

<div class="separar3"></div>


<div class="w3-row-padding w3-grayscale">
<div class="w3-col l3 m6 w3-margin-bottom">
  <img src="/w3images/team2.jpg" alt="John" style="width:100%">
  <h3>John Doe</h3>
  <p class="w3-opacity">CEO & Founder</p>
  <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  <a href="cursos.html"><p><button class="w3-button w3-light-grey w3-block">Contact</button></p></a>
</div>
<div class="w3-col l3 m6 w3-margin-bottom">
  <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
  <h3>Jane Doe</h3>
  <p class="w3-opacity">Architect</p>
  <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  <a href="cursos.html"><p><button class="w3-button w3-light-grey w3-block">Contact</button></p></a>
</div>
<div class="w3-col l3 m6 w3-margin-bottom">
  <img src="/w3images/team3.jpg" alt="Mike" style="width:100%">
  <h3>Mike Ross</h3>
  <p class="w3-opacity">Architect</p>
  <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  <a href="cursos.html"><p><button class="w3-button w3-light-grey w3-block">Contact</button></p></a>
</div>
<div class="w3-col l3 m6 w3-margin-bottom">
  <img src="/w3images/team4.jpg" alt="Dan" style="width:100%">
  <h3>Dan Star</h3>
  <p class="w3-opacity">Architect</p>
  <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  <a href="cursos.html"><p><button class="w3-button w3-light-grey w3-block">Contact</button></p></a>
</div>
</div>


<div class="separar3"></div>

<h4>
Nivel 2
</h4>

<div class="separar3"></div>


<div class="w3-row-padding w3-grayscale">
<div class="w3-col l3 m6 w3-margin-bottom">
  <img src="/w3images/team2.jpg" alt="John" style="width:100%">
  <h3>John Doe</h3>
  <p class="w3-opacity">CEO & Founder</p>
  <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  <a href="cursos.html"><p><button class="w3-button w3-light-grey w3-block">Contact</button></p></a>
</div>
<div class="w3-col l3 m6 w3-margin-bottom">
  <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
  <h3>Jane Doe</h3>
  <p class="w3-opacity">Architect</p>
  <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  <a href="cursos.html"><p><button class="w3-button w3-light-grey w3-block">Contact</button></p></a>
</div>
<div class="w3-col l3 m6 w3-margin-bottom">
  <img src="/w3images/team3.jpg" alt="Mike" style="width:100%">
  <h3>Mike Ross</h3>
  <p class="w3-opacity">Architect</p>
  <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  <a href="cursos.html"><p><button class="w3-button w3-light-grey w3-block">Contact</button></p></a>
</div>
<div class="w3-col l3 m6 w3-margin-bottom">
  <img src="/w3images/team4.jpg" alt="Dan" style="width:100%">
  <h3>Dan Star</h3>
  <p class="w3-opacity">Architect</p>
  <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  <a href="cursos.html"><p><button class="w3-button w3-light-grey w3-block">Contact</button></p></a>
</div>
</div>


<div class="separar2"></div>

