



  <!-- ======= Cource Details Section ======= -->
  <section id="course-details" class="course-details">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-8">
          <img src="{{datosCurso.imagen}}" class="img-fluid" alt="">
          <h3>{{datosCurso.subtitulo}}</h3>
          <p>
            {{datosCurso.descripcion}}
          </p>
        </div>
        <div class="col-lg-4">

          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Capacitador</h5>
            <p>{{nombreCapacitador}}</p>
          </div>
          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Categoria</h5>        
            <p >{{datosCurso.categoria}}</p>      
        </div>
          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Precio</h5>
            <p>${{datosCurso.precio}}</p>
          </div>

          <div class=" d-flex justify-content-between align-items-center">
          <a (click)="irContenido()" style="color: white;"  class="get-started-btn btn">Empezar</a>
        </div>
        </div>
      </div>

    </div>
  </section><!-- End Cource Details Section -->

  <!-- ======= Cource Details Tabs Section ======= -->
  <section id="cource-details-tabs" class="cource-details-tabs">
    <div class="container" data-aos="fade-up">

      <app-nav [unidades]="datosCurso.unidades" ></app-nav>

    </div>
  </section><!-- End Cource Details Tabs Section -->
  
