
<div class="container justify-content-center mt-5 mb-5">
  <div class="row">
    <div class="col-md-4">
      <div class="">
        <div class="card-body">
          <h5 class="card-title"><b>{{curso.nom}}</b></h5>
          <p class="card-text"> {{curso.desc}} </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="">
        <div class="card-body">
          <a (click)="verificarLogg(template)" class="btn color-boton" aria-describedby="validationFeedback">Continuar</a>
        </div>
        <div class="container">
          <a href="$$init_point$$" target="_blank">Pagar</a>
          <script
          src="https://www.mercadopago.com.pe/integrations/v1/web-payment-checkout.js"
          data-preference-id='<%= global.id %>'>
          </script> 
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" style="text-align: center">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h3>¿Por que?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus impedit itaque est libero eum inventore facere deleniti veritatis? Atque eius suscipit vitae obcaecati mollitia iste in sunt veniam esse rem!</p>
    </div>
    <div class="col-md-4">
      <h3>¿Cuanto?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus impedit itaque est libero eum inventore facere deleniti veritatis? Atque eius suscipit vitae obcaecati mollitia iste in sunt veniam esse rem! <b> {{curso.precio}} </b> </p>
    </div>
    <div class="col-md-4">
      <h3>¿Para que?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus impedit itaque est libero eum inventore facere deleniti veritatis? Atque eius suscipit vitae obcaecati mollitia iste in sunt veniam esse rem!</p>
    </div>
  </div>
</div>

<accordion class="mb-5 mt-5" [isAnimated]="true">
  <app-collapse *ngFor="let unidad of unidades" [unidad]="unidad" ></app-collapse>
</accordion>




<!-- MODAL -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Debe iniciar sesión para continuar</p>
      <button type="button " class="btn color-boton m-1" data-toggle="modal" data-target="#loginModal" (click)="hide()">Iniciar Sesion</button>
      <button type="button" class="btn btn-danger m-1" (click)="hide()" >Cerrar</button>

  </div>
</ng-template>