<!-- Navbar -->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
  <div class="container">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a class="" href="home"><img src="assets/img/logo.png" style="height: 50px; width: 50px;" alt="" /></a>
    <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
      <span class="fa fa-search" aria-hidden="true"></span>
    </button>
    <div class="separar-logo"></div>
    <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">¿Quienes somos?</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contáctanos</a>
        </li>
      </ul>
      <div class="separar6"></div>
      <div class="ml-lg-auto" *ngIf="!isLogged">
        <a href="login" class="get-started-btn">Iniciar Sesion</a>
        <a href="sign-up" class="get-started-btn">Crear Cuenta</a>
      </div>
      <ul class="navbar-nav ml-auto" *ngIf="isLogged">
        <li class="nav-item disabled">
          <a class="nav-link">          
            {{nombreUser}} {{apellidoUser}}
          </a>
        </li>
        <a [routerLink]="['/editar-perfil']">
        <li class="nav-item">
          <img src="{{fotoUser}}" class="rounded-circle mr-3" style="width:'40px'">
        </li>
        </a>
        <li class="nav-item" (click)="onLogOut()">
          <a class="nav-link" style="cursor: pointer;" ><fa-icon [icon]="faSignOutAlt"></fa-icon>Cerrar sesion</a>          
        </li>
      </ul>
    </div>
  </div>
</nav><!-- End Header/Navbar -->
  