
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column" *ngFor="let unidad of unidades; let i=index">
                <li class="nav-item"  >
                    <a class="nav-link active show"  data-toggle="tab" href="#{{unidades[i].id}}">UNIDAD {{i+1}} </a> 
                </li>
            </ul>          
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content" ngFor >
                <div class="tab-pane active show" id="{{unidades[i].id}}">  
                    <div class="row">
                        <div class="col-lg-8 details order-2 order-lg-1">
                            <h3>{{unidades[i].nombre}}</h3>
                            <p class="font-italic"> {{unidades[i].descripcion}} </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                        <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
