<div class="alternative-theme">
  <div mat-dialog-content>
  <div>
    <mat-form-field>
      <mat-label>Nombre de la unidad</mat-label>
      <input matInput value="{{data.nombre}}" [(ngModel)]="tituloUnidad" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Descripcion de la unidad</mat-label>
      <textarea matInput value="{{data.descripcion}}" [(ngModel)]="descripcionUnidad" [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>
  </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial color="primary" (click)="onUpdate()">Aceptar</button>
    <button mat-button (click)="onNoClick()">Cancelar</button>
  </div>
</div>