<!-- Modal Registro-->
  
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
        <!--Header-->
        <img src="assets/logo-blanco.PNG" style="height: 85px; width: 90px; text-align: left; position: absolute;" alt="" />
        <div class="modal-header text-center" style="background-color:  #D99058;">
        <h3 class="w-100 dark-grey-text font-weight-bold" id="myModalLabel" style="font-family:'Amatic SC'; font-size: 40px;">HOGAR PRESENTE</h3>
        <button type="button" id="closebutton" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <!--Body-->
        <div class="modal-body mx-4">
        <!--Body-->
        <div class="form-container">          
          <form [formGroup]="userForm" (ngSubmit)="onRegister(templateRegistro)" >
            <input type="text" formControlName="nombre" placeholder="Ingrese su nombre" [(ngModel)]="nombreUser">
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
              <div class="container-error-mesage" *ngIf="nombre.errors.required">
                Este campo es obligatorio
              </div>
              <div class="container-error-mesage" *ngIf="nombre.errors.pattern">
                Éste campo solo puede contener letras
              </div>
            </div>
            <input type="text" formControlName="apellido" placeholder="Ingrese su apellido" [(ngModel)]="apellidoUser">
            <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
              <div class="container-error-mesage" *ngIf="apellido.errors.required">
                Este campo es obligatorio
              </div>
              <div class="container-error-mesage" *ngIf="apellido.errors.pattern">
                Éste campo solo puede contener letras
              </div>
            </div>
            <input type="text" formControlName="email" placeholder="Ingrese su email" [(ngModel)]="mailUser">
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
              <div class="container-error-mesage" *ngIf="email.errors.required">
                Este campo es obligatorio
              </div>
              <div class="container-error-mesage" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                Debe rellenar este campo con su dirección de correo
              </div>
            </div>
            <input type="password" formControlName="password" placeholder="Ingrese su contraseña" [(ngModel)]="passUser">
            <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
              <div class="container-error-mesage" *ngIf="password.errors.required">
                Este campo es obligatorio
              </div>
              <div class="container-error-mesage" *ngIf="password.errors.minlength">
                Éste campo debe contener minimo 2 caracteres
              </div>
            </div>
            <button class="btn-send" type="submit" [disabled]="!userForm.valid"> Regrsitrarse </button>
          </form>
        </div>
            <!--Facebook-->
            <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fab fa-facebook-f text-center"></i></button>
            <!--Google +-->
            <button type="button" class="btn btn-white btn-rounded z-depth-1a"><i class="fab fa-google-plus-g"></i></button>

        </div>
          <!--Footer-->
          <div class="modal-footer mx-5 pt-3 mb-1">
            <p class="font-small grey-text d-flex justify-content-end">¿Ya eres miembro? <a class="blue-text ml-1" data-dismiss="modal" aria-label="Close"><span data-toggle="modal" data-target="#loginModal">            
                Ingresar sesión </span></a></p>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<!-- MODAL -->

<ng-template #templateRegistro>
  <div class="modal-body text-center">
    <p>Se ha registrado correctamente</p>
  </div>
</ng-template>