      <div class="separar3"></div>
      <div class="row">
        <div class="col-sm-6">
          <div class="">
            <div class="card-body">
              <youtube-player  *ngIf="video"
              [videoId] = "videoId"
              [width]="850"
              [height] = "400"
              suggestedQuality="highres"
              ></youtube-player>
              <div class="scrollspy-example" *ngIf="!video">                
                <pdf-viewer 
                [src]="pdfSrc"
                [render-text]=true
                ></pdf-viewer>
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="">
            <div class="card-body">
                <div class="container">
                  <accordion [isAnimated]="true" *ngFor="let unidad of unidades, index as i">
                    <accordion-group  [isOpen]="unidad.unidadOpen" [heading]="unidad.nombre">
                      <a (click)="cambiarVistaDocumento(contUnidad.doc)" *ngFor="let contUnidad of unidades[this.i].contUnidad" class="list-group-item"><strong> Contenido: {{contUnidad.desc}} </strong></a>
                    </accordion-group>
                  </accordion>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-sm-6 centrar-contenido">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="">
            <div class="card-body">
            </div>
          </div>
        </div>
      </div>